<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBuildDate</key>
	<string>20200428.143217</string>
	<key>CFBuildIncrement</key>
	<false/>
	<key>CFBuildMajor</key>
	<integer>1</integer>
	<key>CFBuildMinor</key>
	<integer>0</integer>
	<key>CFBuildNumber</key>
	<integer>7257</integer>
	<key>CFBuildPatch</key>
	<integer>1</integer>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hepi</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>itemIcon</string>
			<key>CFBundleTypeName</key>
			<string>DocumentType</string>
			<key>CFBundleTypeOSTypes</key>
			<array>
				<string>????</string>
			</array>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hepl</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>listIcon</string>
			<key>CFBundleTypeName</key>
			<string>Playlist</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFile</key>
			<string>appIcon</string>
			<key>CFBundleTypeName</key>
			<string>Any</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
				<string>public.movie</string>
				<string>public.image</string>
				<string>public.data</string>
				<string>public.plain-text</string>
				<string>public.html</string>
				<string>public.text</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hein</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icntIcon</string>
			<key>CFBundleTypeName</key>
			<string>Incognito</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).Document</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Help</string>
	<key>CFBundleHelpBookName</key>
	<string>${PRODUCT_NAME} Help</string>
	<key>CFBundleIconFile</key>
	<string>He3</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>appIcon</string>
			<key>CFBundleURLName</key>
			<string>he3</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>he3</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.7257</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>Allow Arbitrary Loads in Web Content</key>
		<true/>
		<key>Allow Arbritary Leads</key>
		<true/>
		<key>NSIncludesSubdomains</key>
		<true/>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020 CD M Santiago. All rights reserved.|Copyright © 2015 Jaden Geller. All rights reserved.</string>
	<key>NSLocationUsageDescription</key>
	<string>Allow website(s) to know your location</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow website(s) to know your location</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticTermination</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://raw.githubusercontent.com/slashlos/He3/master/He3UpdatesSparkleFeed.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.property-list</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PlayItem</string>
			<key>UTTypeIconFile</key>
			<string>itemIcon</string>
			<key>UTTypeIdentifier</key>
			<string>com.slashlos.he3.hpi</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.property-list</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PlayList</string>
			<key>UTTypeIconFile</key>
			<string>listIcon</string>
			<key>UTTypeIdentifier</key>
			<string>com.slashlos.he3.hpl</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeDescription</key>
			<string>Portable Document Format</string>
			<key>UTTypeIdentifier</key>
			<string>com.adobe.pdf</string>
			<key>UTTypeTagSpecification</key>
			<dict/>
		</dict>
	</array>
	<key>Use Legacy Swift Language Version</key>
	<true/>
</dict>
</plist>
