<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBuildDate</key>
	<string>20210814.130307</string>
	<key>CFBuildIncrement</key>
	<string>patch</string>
	<key>CFBuildMajor</key>
	<integer>1</integer>
	<key>CFBuildMinor</key>
	<integer>0</integer>
	<key>CFBuildNumber</key>
	<string>8476</string>
	<key>CFBuildPatch</key>
	<integer>10</integer>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>He3 (Helium 3)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hpi</string>
				<string>h3i</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>itemIcon</string>
			<key>CFBundleTypeName</key>
			<string>Playitem</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.slashlos.he3.hpi</string>
				<string>com.slashlos.he3.h3i</string>
				<string>Playitem</string>
			</array>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hpl</string>
				<string>h3l</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>listIcon</string>
			<key>CFBundleTypeName</key>
			<string>Playlist</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.slashlos.he3.hpl</string>
				<string>com.slashlos.he3.h3l</string>
				<string>Playlist</string>
			</array>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).Document</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hic</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icntIcon</string>
			<key>CFBundleTypeName</key>
			<string>Any</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.adobe.pdf</string>
				<string>public.movie</string>
				<string>public.image</string>
				<string>public.data</string>
				<string>public.plain-text</string>
				<string>public.html</string>
				<string>public.text</string>
				<string>com.apple.webarchive</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hic</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>icntIcon</string>
			<key>CFBundleTypeName</key>
			<string>Incognito</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.slashlos.he3.hic</string>
				<string>Incognito</string>
			</array>
			<key>NSDocumentClass</key>
			<string>$(PRODUCT_MODULE_NAME).Document</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleHelpBookFolder</key>
	<string>Help</string>
	<key>CFBundleHelpBookName</key>
	<string>${PRODUCT_NAME} Help</string>
	<key>CFBundleIconFile</key>
	<string>He3</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.10</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>itemIcon</string>
			<key>CFBundleURLName</key>
			<string>com.slashlos.he3.hpi</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>he3</string>
				<string>he3lium</string>
				<string>local</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>1.0.8476</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>LSMinimumSystemVersion</key>
	<string>$(MACOSX_DEPLOYMENT_TARGET)</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>Allow Arbitrary Loads in Web Content</key>
		<true/>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Allow camera usage for websites requestion access i.e, OBS</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2020-2021 CD M Santiago. All rights reserved.| Copyright © 2017-2020 CD M Santiago. All rights reserved.|Copyright © 2015 Jaden Geller. All rights reserved.</string>
	<key>NSLocationUsageDescription</key>
	<string>Allow website(s) to know your location, when required to view their content.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Allow website(s) to know your location, when required to view their content.</string>
	<key>NSMainStoryboardFile</key>
	<string>Main</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Allow camera usage for websites requestion access i.e, OBS</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSSupportsAutomaticTermination</key>
	<true/>
	<key>NSSupportsSuddenTermination</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.property-list</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Incognito</string>
			<key>UTTypeIconFile</key>
			<string>icntIcon</string>
			<key>UTTypeIdentifier</key>
			<string>Incognito</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hic</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.property-list</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Incognito</string>
			<key>UTTypeIconFile</key>
			<string>icntIcon</string>
			<key>UTTypeIdentifier</key>
			<string>com.slashlos.he3.hic</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hic</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.property-list</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Playlist</string>
			<key>UTTypeIconFile</key>
			<string>listIcon</string>
			<key>UTTypeIdentifier</key>
			<string>com.slashlos.he3.hpl</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hpl</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.property-list</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Playitem</string>
			<key>UTTypeIconFile</key>
			<string>itemIcon</string>
			<key>UTTypeIdentifier</key>
			<string>com.slashlos.he3.hpi</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hpi</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.property-list</string>
			</array>
			<key>UTTypeDescription</key>
			<string>PlayItem</string>
			<key>UTTypeIconFile</key>
			<string>itemIcon</string>
			<key>UTTypeIdentifier</key>
			<string>Playitem</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hpi</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>com.apple.property-list</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Playlist</string>
			<key>UTTypeIconFile</key>
			<string>listIcon</string>
			<key>UTTypeIdentifier</key>
			<string>Playlist</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hpl</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>Use Legacy Swift Language Version</key>
	<false/>
</dict>
</plist>
